# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.svg
*.tif
*.tiff

# Ignore model files
*.pth
*.safetensor
*.dat
haarcascade.xml

# Data files
Data/

# Train models
train/
data/

# env
**/venv/**
.python-version

# Local
input.txt
app.logs
import
app.logs
import

# log
*.log
nohup.out
